.form-header__steps {
  position: relative;
  margin-right: auto;
}

.form-header__steps-header {
  width: 120px;
  height: 70px;
  box-sizing: border-box;
  padding-left: 25px;
  display: flex;
  align-items: center;

  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
  border-right: 1px solid #ccc;
  color: #36a9e0;

  &:hover {
    color: #1189ca;
  }

  .form-header__steps_active & {
    width: 250px;
  }

  i {
    margin-left: 8px;
  }

  .ion-navicon-round {
    font-size: 20px;
  }

  .ion-ios-close-empty {
    font-size: 36px;
  }
}

.form-header__steps-list {
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 0;
  width: 250px;
  padding: 20px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  background: #fff;
  transition: .2s;

  .form-header__steps_not-active & {
    opacity: 0;
    visibility: hidden;
  }
}

.form-header__step {
  position: relative;

  & + & {
    margin-top: 10px;
  }
}

.form-header__step-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header__step-icon {
  font-size: 30px;
  color: #ccc;

  .form-header__step_valid & {
    color: #01b450;
  }
}

.form-header__step-line {
  flex: 1;
  width: 2px;
  margin-top: -5px;
  background-color: #ccc;

  .form-header__step_valid & {
    background-color: #01b450;
  }
}

.form-header__step-right {
  padding-left: 0;
  cursor: pointer;

  &:hover {
    color: #1189ca;
  }
}

.form-header__step-number {
  margin-top: 10px;
  font-size: 16px;
}

.form-header__step-title {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

.form-header__close {
  height: 70px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: 'Open Sans', serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;

  color: #36a9e0;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;

  i {
    margin-left: 10px;
    margin-bottom: 1px;
    font-size: 48px;
  }
}
