.form-render {
  padding: 30px 15px;
}

.form-render__header {
  margin-top: 10px;
  margin-bottom: 20px;
}

.form-render__step-number {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
}

.form-render__step-title {
  font-size: 28px;
  font-weight: 600;
}

.form-render__step {
  align-items: stretch;

  & + & {
    margin-top: 20px;
  }
}

.form-render__step-left {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-render__step-icon {
  color: #ccc;
  font-size: 60px;

  .form-render__step_valid & {
    color: #01b450;
  }
}

.form-render__step-line {
  display: block;
  flex: 1;
  width: 2px;
  background-color: #ccc;

  .form-render__step_valid & {
    background-color: #01b450;
  }
}
