.checkbox-group {
  position: relative;
  padding: 10px 0;
}

.checkbox-group__item {
  position: relative;
  display: flex;
  align-items: center;

  & + & {
    margin-top: 15px;
  }

  input {
    display: none;
  }

  label {
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
  }
}

.checkbox-group__indicator {
  position: relative;
  display: inline-block;
  width: 40px;
  margin-right: 5px;
  background-color: #fff;
  border: 1px solid #36a9e2;
  border-radius: 34px;
  cursor: pointer;

  &:before {
    content: '';
    display: block;
    height: 13px;
    width: 13px;
    margin: 3px;
    background-color: #36a9e2;
    border-radius: 50%;
    transition: transform .4s;
  }

  input:checked + & {
    background-color: #36a9e2;

    &:before {
      background-color: #fff;
      transform: translateX(21px);
    }
  }

  input:focus + & {
    box-shadow: 0 0 1px #2196F3;
  }
}

.checkbox-group__error {
  margin-top: 8px;
  color: #d12c00;
  font-size: 12px;

  .checkbox-group:not(.checkbox-group_invalid) & {
    opacity: 0;
    visibility: hidden;
  }
}

.checkbox-group__icon {
  display: inline-block;
  margin-left: 5px;
  font-size: 20px;
  color: #00b34d;

  input:not(:checked) ~ & {
    visibility: hidden;
    opacity: 0;
  }
}
