.text-field {
  max-width: 250px;
  width: 100%;

  &_multi-line {
    max-width: 450px;
  }

  label {
    color: #4b4b4b;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
  }

  // helper text
  p {
    font-family: 'Open Sans', sans-serif;
  }

  &_invalid {
    // helper text
    p {
      color: #d12c00;
    }

    // bottom line
    div::after {
      transform: scaleX(1);
      background-color: #d12c00;
    }
  }

  &_valid {
    // helper text
    p {
      color: #01b450;
    }

    // bottom line
    div::after {
      transform: scaleX(1);
      background-color: #01b450;
    }
  }
}

.text-field__icon {
  margin-left: 5px;
  font-size: 20px;
  visibility: hidden;
  opacity: 0;

  .text-field_invalid & {
    color: #d12c00;
    visibility: visible;
    opacity: 1;
  }

  .text-field_valid & {
    color: #00b34d;
    visibility: visible;
    opacity: 1;
  }
}
