.radio-group {
  position: relative;
  padding: 10px 0;
}

.radio-group__item {
  & + & {
    margin-top: 15px;
  }

  input {
    display: none;
  }

  label {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    user-select: none;
  }

  label:before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background: #FFF;
    border: 1px solid #36a9e2;
    border-radius: 50%;
  }

  label:after {
    content: '';
    position: absolute;
    top: 6px;
    left: 4px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #36a9e2;
    opacity: 0;
    visibility: hidden;
  }

  input:checked + label:after {
    opacity: 1;
    visibility: visible;
  }
}

.radio-group__icon {
  display: inline-block;
  margin-left: 5px;
  font-size: 20px;
  color: #00b34d;

  input:not(:checked) + label & {
    opacity: 0;
    visibility: hidden;
  }
}

.radio-group__error {
  margin-top: 8px;
  color: #d12c00;
  font-size: 12px;

  .radio-group:not(.radio-group_invalid) & {
    opacity: 0;
    visibility: hidden;
  }
}
