.arc-widget-title {
  margin: 20px; }

.arc-widget-chart-wrap {
  position: relative;
  margin: 0 auto; }

.arc-widget-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  color: #1189ca; }
