.info-box-widget-img {
  display: block;
  margin: 25px auto 30px; }

.info-box-widget-title {
  margin-bottom: 0; }

.info-box-widget-text {
  font-size: 13px;
  text-align: center; }

.info-box-widget-raisedButtons {
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-family: 'Open Sans';
  font-weight: 600;
  color: white;
  background-color: #36a9e0;
  width: 100%;
  height: 45px;
  transition: all 0.5s ease; }

.info-box-widget-raisedButtons:hover {
  background-color: #3286c4; }

.info-box-widget-raisedButtons:hover {
  background-color: #3286c4; }
