.progress-bar-widget-title {
  margin-bottom: 30px; }

.progress-bar-widget-value {
  margin-bottom: 37px;
  color: #1189ca;
  text-align: center;
  font-weight: 600; }

.progress-bar-widget-text {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; }

.progress-bar-widget-progress {
  height: 32px;
  margin-bottom: 15px; }
