.table-widget {
  padding: 0;
  min-height: 0; }

.table-widget-title {
  margin: 0;
  padding: 18px;
  border-bottom: 1px solid #dbdbdb; }

.table-widget table {
  border-collapse: collapse;
  border-style: hidden; }

.table-widget th {
  padding: 18px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
  background: #f7f7f7;
  border: 1px solid #dbdbdb; }

.table-widget td {
  padding: 10px;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #dbdbdb; }
