.nav-tabs {
    margin: 0;
    padding: 0 30px;
    z-index: -1;
    list-style: none;
    border-bottom: 1px solid #dbdbdb;
}

.nav-tabs li {
    display: inline-block;
}

.nav-tabs a {
    position: relative;
    display: block;
    padding: 16.5px 25px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #757575;
    border-bottom: 3px solid transparent;
}

.nav-tabs a:hover {
    color: #4a4a4a;
}

.nav-tabs li.active a {
    color: #4a4a4a;
    border-bottom-color: #36a9e1;
}

.nav-tabs li.active a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #36a9e1;
}
