.slider-field {
  max-width: 400px;
  padding: 10px 0;
  font-family: 'Open Sans', serif;
}

.slider-field__label {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 600;
}

.slider-field__icon {
  margin-left: 5px;
  font-size: 20px;

  .slider-field_untouched & {
    visibility: hidden;
    opacity: 0;
  }

  .slider-field_valid & {
    color: #00b34d;
  }

  .slider-field_invalid & {
    color: #d12c00;
  }
}

.slider-field__error {
  margin-top: 5px;
  font-size: 12px;
  color: #d12c00;
  min-height: 13px;

  .slider-field_untouched &,
  .slider-field_valid & {
    visibility: hidden;
    opacity: 0;
  }
}

.rangeslider {
  margin-bottom: 25px;

  .rangeslider__handle {
    background-color: #36a9e0;
    border: none;
    box-shadow: none;
    outline: none;
    
    .slider-field_touched.slider-field_valid:not(.slider-field_active) & {
      background-color: #00b34d;
    }
    
    .slider-field_touched.slider-field_invalid:not(.slider-field_active) & {
      background-color: #d12c00;
    }
  }

  .rangeslider__handle-tooltip {
    top: -30px;
    font-size: 16px;
    font-weight: 600;
    background: transparent;
    color: #36a9e0;

    &:after {
      content: none;
    }
  }
}

.rangeslider-horizontal {
  height: 6px;

  .rangeslider__fill {
    background-color: #36a9e0;

    .slider-field_touched.slider-field_valid:not(.slider-field_active) & {
      background-color: #00b34d;
    }

    .slider-field_touched.slider-field_invalid:not(.slider-field_active) & {
      background-color: #d12c00;
    }
  }

  .rangeslider__handle {
    height: 20px;
    width: 20px;

    &:after {
      content: none;
    }
  }
}

.rangeslider__labels {
  margin: 5px 0;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  .rangeslider__label-item {
    position: static;
    color: #ccc;
    transform: none;
  }
}
