.select-field {
  position: relative;
  max-width: 300px;
  padding: 10px 0;
  cursor: pointer;
}

.select-field__label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
}

.select-field__icon {
  font-size: 20px;
  margin-left: 5px;

  .select-field_untouched & {
    visibility: hidden;
    opacity: 0;
  }

  .select-field_valid & {
    color: #00b34d;
  }

  .select-field_invalid & {
    color: #d12c00;
  }
}

.select-field__selected {
  position: relative;
  height: 30px;
  box-sizing: border-box;
  padding-right: 35px;
  line-height: 30px;
  align-items: center;
  border-bottom: 1px solid grey;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover,
  .select-field_active & {
    border-bottom: 2px solid #36a9e2;
  }

  .select-field_valid & {
    border-color: #01b450;
  }

  .select-field_invalid & {
    border-color: #ce2d01;
  }
}

.select-field__arrow {
  color: grey;
  position: absolute;
  right: 10px;
  top: 5px;

  .select-field_active & {
    color: #36a9e2;
  }

  .select-field_valid & {
    color: #01b450;
  }

  .select-field_invalid & {
    color: #ce2d01;
  }
}

.select-field__options {
  position: absolute;
  z-index: 100;
  box-sizing: border-box;
  width: 100%;
  max-height: 300px;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
  border: 1px solid #ccc;
  border-top: none;
  background: #fff;
  overflow-y: auto;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.2);
  display: none;

  .select-field_active & {
    display: block;
  }

  li {
    position: relative;
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    transition: all 0.5s ease;

    &:hover,
    &.selected {
      background: #36a9e2;
      color: white;
    }
  }
}

.select-field__error {
  margin-top: 8px;
  font-size: 12px;
  color: #d12c00;

  .select-field:not(.select-field_invalid) & {
    opacity: 0;
    visibility: hidden;
  }
}

.select-field__selected-icon {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;

  .select-field_multiple li.selected & {
    display: block;
  }
}
