.two-lists-field {
  padding: 10px 0;
}

.two-lists-field__helper-text {
  margin-bottom: 8px;
  font-size: 14px;

  .two-lists-field_valid & {
    color: #01b450;
  }

  .two-lists-field_invalid & {
    color: #d12c00;
  }

  .two-lists-field_untouched & {
    visibility: hidden;
    opacity: 0;
  }
}

.two-lists-field__icon {
  margin-left: 5px;
  font-size: 20px;
}

.two-lists-list {
  background-color: #36a9e2;
}

.two-lists-list__header {
  padding: 0 20px;
  height: 50px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  line-height: 50px;
  border-bottom: 2px solid white;
}

.two-lists-list__content {
  height: 450px;
  overflow-y: auto;
}

.two-lists-list-item {
  min-height: 35px;
  margin: 10px 20px;
  padding: 15px;
  box-sizing: border-box;
  background: #d7edf8;
  box-shadow: -1px 3px 4px -4px rgba(0, 0, 0, 0.75);
  cursor: pointer;

  &:hover {
    background-color: white;
  }
}
