.main-header {
  display: flex;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid #dbdbdb;
  background: #fff;
}

.header-user {
  padding: 0 35px;
  margin-left: auto;
  font-size: 13px;
  color: #686868;
}

.header-user img {
  vertical-align: middle;
  margin: 0 10px;
}

.header-sign-out-btn {
  height: 70px;
  min-width: 70px;
  border-left: 1px solid #dbdbdb;
  border-radius: 0;
  background: transparent url('../img/power-button.png') no-repeat center;
  background-size: 16.5px;
}

.header-sign-out-btn:hover {
  background: #ff6e66 url('../img/power-button-white.png') no-repeat center;
  background-size: 16.5px;
}
