.login-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.login-page-content {
  flex: 1;
}

.login-box {
  width: 426px;
  margin: 3.5% auto;
}

.login-logo {
  text-align: center;
  margin-bottom: 35px;
}

.login-box-body {
  padding: 35px 50px 40px;
  border: 1px solid #d6d6d6;
}

.login-box-title {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
}

.login-box-msg {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.login-box-restore-password-link {
  font-size: 11px;
}

.text-field-wrap {
  position: relative;
}

.show-password-btn {
  position: absolute;
  top: 10px;
  right: -12px;
  padding: 8px;
  font-size: 13px;
  color: #36a9e1;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.show-password-btn:hover {
  color: #0074bc;
}
