.tippy-tooltip.light-theme {
  border-radius: 0;
  border: 1px solid #dbdbdb;
}

.tippy-tooltip.light-theme .tippy-tooltip-content {
  color: #4a4a4a;
}

.tippy-popper[x-placement^=top] .tippy-tooltip.light-theme [x-arrow] {
  left: -1px !important;
  bottom: -10px;
  border-top: 10px solid #fff !important;
  border-right: 10px solid transparent !important;
  border-left: none !important;
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.light-theme [x-arrow] {
  left: -1px !important;
  top: -10px;
  border-top: none !important;
  border-bottom: 10px solid #fff !important;
  border-right: 10px solid transparent !important;
  border-left: none !important;
}
