.main-sidebar {
    width: 250px;
    background: #1189ca;
    color: #fff;
}

.sidebar-logo {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #54aad8;
}

/**
 * MENU
 */
.sidebar-menu {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    list-style: none;
}

.sidebar-menu a {
    color: inherit;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.sidebar-menu > li {
    border-bottom: 1px solid #54aad8;
}

.sidebar-menu > li.header {
    padding: 15px 20px;
    font-size: 15px;
    opacity: 0.5;
}

.sidebar-menu > li > a {
    display: block;
    padding: 17.5px 20px;
}

.sidebar-menu > li.expanded > a,
.sidebar-menu > li:hover > a,
.sidebar-menu > li > a.active {
    background: #0072b0;
}

.sidebar-menu > li.with-sub-menu {
    position: relative;
}

.sidebar-menu > li.with-sub-menu > a {
    padding-right: 54px;
}

/**
 * TOGGLE SUB MENU BTN
 */
.toggle-sub-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 54px;
    height: 53px;
    font-size: 18px;
    color: inherit;
    background: transparent;
    border-radius: 0;
}

.toggle-sub-menu-btn:hover {
    background: #006296;
}

.sidebar-menu > li.expanded .toggle-sub-menu-btn {
    transform: rotate(180deg);
}

/**
 * SUB MENU
 */
.sidebar-sub-menu {
    padding-top: 25px;
    font-size: 15px;
    list-style: none;
}

.sidebar-sub-menu > li {
    position: relative;
    margin-bottom: 4px;
}

.sidebar-sub-menu > li > a {
    display: block;
    padding: 9.5px;
}

.sidebar-sub-menu > li:before {
    content: '';
    position: absolute;
    right: 99%;
    bottom: 15px;
    display: block;
    width: 19.5px;
    height: 41.5px;
    background: url("../../img/sidebar-sub-menu-deco.png") no-repeat center;
    background-size: contain;
}

.sidebar-sub-menu > li > a:hover {
    text-decoration: underline;
}

.sidebar-sub-menu > li > a.active {
    background: rgba(239, 235, 248, 0.3);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.sidebar-sub-menu > li.active > a,
.sidebar-sub-menu > li:hover a {
    padding-right: 38px;
}

/**
 * NODE ACTIONS
 */
.node-actions-toggle-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    min-width: 38px;
    display: none;
    background: #0072b0 url("../../img/gear-icon.png") no-repeat center;
    background-size: 18px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.sidebar-sub-menu > li > a:hover + .node-actions-toggle-btn,
.node-actions-toggle-btn:hover {
    display: block;
}

.sidebar-sub-menu > li.node-actions-visible .node-actions-toggle-btn {
    display: block;
    background-image: url("../../img/cross-icon.svg");
    background-size: 10px;
}

.node-actions-toggle-btn:hover {
    background-color: #00517d;
}

.sidebar-node-actions {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
    z-index: 1;
    width: 0;
    margin-left: -1px;
    white-space: nowrap;
    background: #fff;
    box-shadow: inset 0 0 0 1px #1189ca;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: none;
    overflow: hidden;
    transition: width .2s;
}

.node-actions-visible > .sidebar-node-actions {
    width: 77px;
}

.node-actions-btn {
    padding: 0;
    min-width: 38px;
    height: 100%;
    font-size: 18px;
    color: #1189ca;
    background: transparent;
    border-radius: 0;
}

.node-actions-btn:disabled,
.node-actions-btn:disabled:hover {
    background: #ccc;
    color: #fff;
    cursor: not-allowed;
}

.node-actions-edit-btn:hover {
    color: #00517d;
}

.node-actions-remove-btn:hover {
    color: #ff6e66;
}

/**
 * ADD NEW BTN
 */
.sidebar-add-new-btn {
    margin: 0 25px 20px;
    width: 200px;
    padding: 6px;
    font-size: 14px;
    font-weight: 600;
    text-transform: none;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
}

.sidebar-add-new-btn:hover {
    background: #fff;
    color: #1189ca;
}
