body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #4a4a4a;
}

.hidden {
  display: none !important;
}

.link {
  text-decoration: none;
  color: #36a9e1;
}

.link:hover {
  color: #0074bc;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.align-center {
  display: block !important;
  margin: 0 auto;
}

/**
 * BUTTONS
 */

.btn {
  display: inline-block;
  padding: 12px;
  margin-bottom: 0;
  min-width: 140px;

  font-family: inherit;
  font-size: 13px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  text-transform: uppercase;

  cursor: pointer;
  user-select: none;
  border-radius: 4px;
  outline: none;
  border: none;
  transition: background-color .3s;

  &-small {
    min-width: 115px;
    padding: 5.5px;
    font-size: 11px;
  }
}

.btn-primary {
  background-color: #36a9e1;
  color: #fff;

  &:hover {
    background: #0074bc;
  }

  &[disabled],
  &[disabled]:hover {
    background: #ccc;
    color: #fff;
    cursor: not-allowed;
  }
}

.btn-secondary {
  padding: 11px;
  background: #fff;
  border: 1px solid #36a9e1;
  color: #36a9e1;

  &:hover {
    background: #36a9e1;
    color: #fff;
  }

  &[disabled],
  &[disabled]:hover {
    background: #fff;
    color: #36a9e1;
    cursor: not-allowed;
  }
}

/**
 * FORMS
 */

.form-group {
  margin-bottom: 20px;
}

.form-control {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding: 6px 0;

  font-size: 15px;
  line-height: 1.42857143;
  color: inherit;

  border: none;
  border-bottom: 1px solid #ccc;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  outline: none;
}

.form-control:focus {
  padding-bottom: 5px;
  border-bottom: 2px solid #36a9e1;
}

.has-error .form-control {
  padding-bottom: 5px;
  border-bottom: 2px solid red;
}

.help-block {
  display: block;
  margin-top: 3px;
  height: 15px;
  font-size: 11px;
}

.help-block-blue {
  color: #36a9e1;
}

/**
 * CUSTOM FORMS
 */

.custom-control {
  position: relative;
  min-height: 1.5rem;
  padding-left: 1.75rem;
  margin-right: 1rem;
  cursor: pointer;
}

.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox .custom-control-indicator {
  border-radius: .25rem;
}

.custom-control-indicator {
  position: absolute;
  top: .125rem;
  left: 0;

  display: block;
  width: 1.25rem;
  height: 1.25rem;

  pointer-events: none;
  user-select: none;
  background: #f0f0f0 no-repeat center center;
  background-size: 50% 50%;
}

.custom-checkbox .custom-control-description {
  user-select: none;
  font-size: 14px;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='#36a9e1' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

/**
 * animate.css
 */

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

/**
 * WIDGETS
 */

.widget {
  padding: 20px 30px;
  margin: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 293px;
  min-height: 258px;

  color: #4a4a4a;
  background: #fff;
  border: 1px solid #dbdbdb;
}

.widget-title {
  margin-top: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
}

/**
 * DIALOGS
 */

.dialog {
  max-width: 426px;
}

.dialog-title {
  margin: 0;
  padding: 43px 50px 35px;

  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.dialog-content {
  padding: 25px 50px 50px;
}

.dialog-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;

  background: transparent;
  border: none;
  cursor: pointer;
}

.dialog-close-btn:hover svg {
  fill: #ff6e66;
}

.dialog-close-btn--small {
  height: 35px;
  width: 35px;
}

/*
* NOTIFICATIONS
*/

.app-notif-transition-enter {
  opacity: 0.01;
  transition: opacity .25s ease-in;
  animation-name: slideInDown;
}

.app-notif-transition-enter-active {
  opacity: 1;
}

.app-notif-transition-leave {
  opacity: 1;
  transition: opacity .25s ease-in;
}

.app-notif-transition-leave-active {
  opacity: 0.01;
  animation-name: slideOutUp;
}

.app-notif {
  position: relative;
  max-height: 400px;
  box-sizing: border-box;
  padding: 24px;
  margin-bottom: 10px;

  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #4a4a4a;

  box-shadow: 0 0 1px 1px rgba(10, 10, 11, .125);
  overflow: hidden;

  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.app-notif--success {
  background-color: #64ce83;
}

.app-notif--info {
  background-color: #fff;
}

.app-notif--warning {
  background-color: #ff7f48;
}

.app-notif--danger {
  background-color: #e74c3c;
}

.app-notif__container {
  position: fixed;
  top: 25px;
  right: 0;
  left: 0;
  z-index: 1000;

  max-width: 400px;
  width: 80%;
  margin: auto;
}

.app-notif__content {
  display: inline-block;
  vertical-align: middle;
}

.app-notif__icon {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 17px;
  background: url('./img/check-icon.svg');
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}
