.delete-node-dialog-data {
  margin-bottom: 30px; }

.delete-node-dialog-label {
  margin: 0 0 8px;
  font-size: 13px; }

.delete-node-dialog-value {
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: 600; }
