.create-node-dialog {
  position: absolute;
  z-index: 1;
  bottom: -70px;
  left: 102%;
  width: 298px;
  padding: 15px 22px;
  box-sizing: border-box;
  font-weight: normal;
  color: #000;
  background: #fff;
  border: 1px solid #dbdbdb;
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.24);
}

.create-node-dialog:before {
  content: '';
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-right: 22px solid #fff;
}

.create-node-dialog-title {
  margin: 0 0 17px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
